
.navbar ul{
	list-style-type :none;
	margin:0px;
	background-color:yellow;
}
.navbar a{
	text-decoration: none;
	text-align: center;
	color: white;
	display: block ;
	padding:10px;
	float:center;
}
.navbar a:hover{
	background-color:black;
}
