h1 {
	background-color:yellow;
}
.navbar ul{
	list-style-type :none;
	background-color: orange;
}
.navbar a{
	text-decoration: none;
	text-align: center;
	color: white;
	display: block ;


 
}
